.site_full{
    border :1px solid black;
    width: 800px;
    height: 500px;
}

.block{
    display: grid;
    grid-template-columns: repeat(10, 20px);
    grid-template-rows: repeat(70, 20px);
    gap: 1px; /* 셀 사이의 간격 설정 */
    border: 1px solid black; /* 그리드 컨테이너 테두리 스타일 */
    /*
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    border: 1px solid black;
    column-count: 5;
    height: 500px;
    gap: 0;
    */
}

.cell{
    background-color: #ddd; /* 각 셀의 배경색 설정 */
    border: 1px solid black; /* 셀의 테두리 스타일 */
    width : 20px;
    height : 20px;
}

.top{
    border-top: 250px solid gray;
    border-bottom: 250px solid green;
    border-right: 400px solid black;
    border-left: 400px solid blue;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
}